* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: #FFE67F;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.logo {
  width: 200px;
  padding-top: 20px;
}

.header-right {
  float: right;
  font-size: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #3D3D3D;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 166, 0, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(Hero.svg);
  background-size: cover;
  color: black;
  text-align: center;
}

.top-wrapper h3 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 30px 0;
}

.follow {
  background-color: red;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.food-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fff;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.food {
  float: left;
  width: 25%;
}

.food-icon {
  position: relative;

}

.food-icon p {
  position: absolute;
  top: 44px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #f7c70a;
}

.address-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.address-wrapper img {
  width: 300px;
  height: 150px;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #f7c70a;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}