body {
    margin: 0;
    font-family: "roboto", sans-serif;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 90px;
    width: 100%;
    background-color: #FFE67F;
    margin-top: 0;
    position:fixed;
    top:0;
    z-index:10;
}

.header-left {
    float: left;
}

.logo {
    width: 264px;
    padding-top: 27px;
}

.header-right {
    float: right;
    font-size: 16px;
}

.header-right a {
    line-height: 23px;
    padding: 33px 33px;
    color: #3D3D3D;
    display: block;
    float: left;
    transition: all 0.5s;
    text-decoration: none;
}

.header-right a:hover {
    background-color: rgba(255, 166, 0, 0.3);
}

.top-wrapper{
    padding: 180px 0 100px 0;
    background-image: url(Hero.svg);
    background-size: cover;
    color: black;
    text-align: center;
}

.top-wrapper h3 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    margin: 30px 0;
  }
  
  .follow {
    background-color: red;
  }

  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }

  .menu-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #fff; 
    text-align: center;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: bold;
  }
  
  .menu {
    float: left;
    width: 25%;
    margin-right: 50px;
    align-items: center;
  }
  
  .menu-icon {
    position: relative;
  
  }
  
  .menu-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  
.footer {
    position: absolute;
    height: 437px;
    left: 0px;
    right: 0px;
    top: 1087px;
}
.footer-logo {
    position: absolute;
    height: 30px;
    left:0px;
    right:0px;
    top: 1087px;
	font-size: 26px;
    text-align: center;
}
.footer-content img {
    position:absolute;
    width: 500px;
    height: 250px;
    left: 150px;
    top: 1151px;
}
.footer-content p {
    position: absolute;
    width: 357px;
    height: 142px;
    left: 700px;
    top: 1180px;
    font-size:20px;
}
.footer-bottom {
    position:absolute;
    top:1464px;
    left:0px;
    right:0px;
    height:60px;
	background-color: #CCCCCC;
}
.footer-bottom P {
	font-size: 18px;
    text-align: center;
}


